body{
	border: 1px solid black;
	color: #6C8DD5;
	background-color: #06276F;
    font-family: Georgia, "Times New Roman",
 }
 	
ul.navbar li {
    background: #4573D5;
    margin: 0.5em 0;
    padding: 0.3em;
    border: 1px solid black }
	
ul.navbar a {
    text-decoration: none }
   a:link {
    color: white }
  a:visited {
    color: white }
	
	
li
	{
	display:inline;
	}
	
	
h1 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif }
}